h1(class="tituloCards") Indicadores De Productos
section(class=" flex justify-center")
  .w-full.max-w-md.space-y-6

    // ---- Ventas Globales Hoy ----
    div(class="subCard")
      p(class="subTitleCards") Servicio Mas Vendido
      p(class="priceCars") Corte y Barba
      

    // ---- Ventas Globales Mes ----
    div(class="subCard")
      p(class="subTitleCards") Servicio Menos Vendido
      p(class="priceCars") Shampoo ABC

    // ---- Top facturación por punto ----
    div(class="subCard")
      p(class="text-center text-base font-semibold text-gray-900") Producto Mas Vendido Por Punto de Venta

      .mt-3.space-y-1.text-sm
        .flex.justify-between
          span(class="spanGreen") Provenza
          span(class="spanGreen font-normal") Full Spa

        .flex.justify-between
          span(class="spanGreen") Manila
          span(class="spanGreen font-normal") Corte y Barba

        .flex.justify-between
          span(class="spanGreen") Monterrey
          span(class="spanGreen font-normal") Corte y Barba
    
    div(class="w-full align-middle text-center")
        a(href="" class="btnGenerico") Mas Informes
    