h1(class="tituloCards") Comportamiento Del Producto
section(class="flex justify-center")
  .w-full.max-w-md.space-y-6

    // ---- Ventas Globales Del Producto ----
    div(class="subCard")
      p(class="text-lg font-semibold text-gray-800 text-center") Ventas Totales
      p(class="mt-2 text-4xl font-bold text-emerald-500 text-center") $2.400.000
      

    // ---- Promedio de venta mes ----
    div(class="subCard")
      p(class="text-lg font-semibold text-gray-800 text-center") Promedio de venta al mes
      p(class="mt-2 text-4xl font-bold text-emerald-500 text-center") $27.350.000

    // ---- Top facturación por punto ----
    div(class="subCard")
      p(class="text-center text-base font-semibold text-gray-900") En cuales sedes se vende mas?

      .mt-3.space-y-1.text-sm
        .flex.justify-between
          span(class="spanGreen") Provenza
          span(class="spanGreen font-normal") $ 12.300.000

        .flex.justify-between
          span(class="spanOrange") Manila
          span(class="spanOrange font-normal") $ 10.200.000

        .flex.justify-between
          span(class="spanRed") Monterrey
          span(class="spanRed font-normal") $ 4.850.000

    