@import "tailwindcss";

@layer components {

    /*BOTONES*/
    .btnPrimary {
        @apply px-5 py-2 w-4xl rounded-lg text-sm font-medium text-white bg-green-500 hover:bg-green-600 shadow-md transition cursor-pointer
    }

    .btnGenerico {
        @apply px-4 py-2 text-sm rounded-lg bg-gray-800 text-white hover:bg-amber-700 cursor-pointer
    }



    .subCard {
        @apply mt-4 border border-gray-200 bg-white shadow-sm px-6 py-4 rounded-3xl
    }

    .tituloCards {
        @apply text-3xl font-bold text-center text-amber-500  py-4; 
    }

    .subTitleCards {
        @apply text-lg font-semibold text-gray-800 text-center
    }

    .priceCars {
        @apply mt-2 text-2xl font-bold text-amber-600 text-center
    }

    .spanGreen {
        @apply font-semibold text-emerald-500;
    }

    .spanOrange {
        @apply font-semibold text-orange-400;
    }

    .spanRed {
        @apply font-semibold text-red-500;
    }
}
