h1(class="tituloCards text-2xl uppercase") Indicadores Globales de #{datosPunto.nombre}
section(class="flex justify-center")
  .w-full.max-w-md.space-y-6

    // ---- Top Mas Vendidos ----
    div(class="subCard")
      p(class="text-center text-base font-stretch-semi-condensed text-gray-900") Los Mas Vendidos último mes

      .mt-3.space-y-1.text-sm
        .flex.justify-between
          span(class="spanOrange") Corte y Barba
          span(class="font-semibold text-emerald-500") $ 28.000.000

        .flex.justify-between
          span(class="spanOrange") Spa Facial
          span(class="font-semibold text-emerald-500") $ 15.000.000

        .flex.justify-between
          span(class="spanOrange") Solo Corte
          span(class="font-semibold text-emerald-500") $ 10.000.000

    // ---- Top Mas Vendidos Por Barberia ----
    div(class="subCard")
      p(class="text-center text-base font-semibold text-gray-900") Top Productos / Servicios

      .mt-3.space-y-1.text-sm
        .flex.justify-between
          span(class="spanOrange") Provenza
          span(class="font-semibold text-emerald-500") Spa Facial

        .flex.justify-between
          span(class="spanOrange") Manila
          span(class="font-semibold text-emerald-500") Corte y Barba

        .flex.justify-between
          span(class="spanOrange") Monterrey
          span(class="font-semibold text-emerald-500") Corte y Barba
      
