extends ../../layout/headerDashboard.pug
block styles
block content
    main(class="min-h-screen bg-[#F5F7F4] flex")
        include ../../layout/leftMenu.pug
        section(class="flex-1 p-10")
            include ../../layout/header-body.pug
            include ../../layout/headerPuntosVenta.pug
            
            include ../../layout/listaPuntosVenta.pug


    
        

