h1(class="tituloCard spanGreen text-2xl uppercase text-center py-3")
    |Indicadores Globales De Los Barberos
section(class="flex justify-center")
  .w-full.max-w-md.space-y-6
    // ---- Los Barberos que mejor desempeño han tenido en el día. ----
    
    p(class="text-center text-base font-semibold text-gray-900") Top 3 Barberos hoy
     .mt-1.space-y-1.text-sm
      .flex.justify-between
       div(class="w-24 h-10 sm:w-10  rounded-full shadow-gray-900 shadow overflow-hidden bg-green-100 mb-4")
        img(src="/images/avatar/ec1e0bce-e592-431e-8834-bc78b4196a78.png" alt="Profile" class="w-full h-full object-cover")
       span(class="spanOrange mt-2 text-left") Mauricio Gonzalez
       span(class="font-semibold text-emerald-500 spanOrange mt-2") $ 350.000 
    
     .mt-1.space-y-1.text-sm
      .flex.justify-between
       div(class="w-24 h-10 sm:w-10  rounded-full shadow-gray-900 shadow overflow-hidden bg-green-100 mb-4")
            img(src="/images/avatar/ec1e0bce-e592-431e-8834-bc78b4196a78.png" alt="Profile" class="w-full h-full object-cover")
       span(class="spanOrange mt-2 text-left") Keiner Ozain
       span(class="font-semibold text-emerald-500 spanOrange mt-2") $ 290.000

      .mt-3.space-y-1.text-sm
      .flex.justify-between
       div(class="w-24 h-10 sm:w-10  rounded-full shadow-gray-900 shadow overflow-hidden bg-green-100 mb-4")
        img(src="/images/avatar/ec1e0bce-e592-431e-8834-bc78b4196a78.png" alt="Profile" class="w-full h-full object-cover")
       span(class="spanOrange mt-2") Miguel Angel Perez
       span(class="font-semibold text-emerald-500 spanOrange mt-2") $ 100.000 
    
      
    
    

      

