doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/output.css") 
        block styles    
        title #{APPNAME}| #{titulo}
    
body(class="bg-[#F5F7F4] min-h-screen")
    block content