doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/output.css") 
        title PAGINA PRESTAMOS | #{titulo}
    
    // BODY corregido: Las clases de Tailwind están dentro de paréntesis (class="...")
body(class="min-h-screen bg-gray-900 text-white flex flex-col lg:flex-row")
block content