div(class="grid grid-cols-1 sm:grid-cols-3 gap-6 mt-10")
  div(class="bg-white px-6 py-4 rounded-xl shadow border border-gray-200")
    p(class="text-sm text-gray-500") Global Ventas del día
    div(class="text-3xl font-bold mt-1") $3.540.00
  div(class="bg-white px-6 py-4 rounded-xl shadow border border-gray-200")
    p(class="text-sm text-gray-500") Global Efectivo
    div(class="text-3xl font-bold mt-1") $2.450.00
  div(class="bg-white px-6 py-4 rounded-xl shadow border border-gray-200")
    p(class="text-sm text-gray-500") Global Pago Electrónico
    div(class="text-3xl font-bold mt-1") $1.090.000